/* Colors */

$blue_color : #0a3c79;
$white_color: #fff;
$footer_bg_color: #191919;
$body_bg : #d4effc;
$black_color: #000;
$red_color: #ff0000;


.transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
