/* Scss Document */
/* Colors */
/* line 11, ../sass/_var.scss */
.transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 8, ../sass/_mixin.scss */
.d-flex {
  display: -webkit-flex;
  display: flex;
}

@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}
@font-face {
  font-family: ClanPro-Book;
  font-weight: normal;
  src: url("../fonts/ClanPro-Book.otf") format("opentype"), url("../fonts/ClanWebPro-Book.woff") format("woff");
}
@font-face {
  font-family: ClanPro-BookItalic;
  font-weight: normal;
  src: url("../fonts/ClanPro-BookItalic.otf") format("opentype"), url("../fonts/ClanWebPro-BookItalic.woff") format("woff");
}
@font-face {
  font-family: ClanPro-Bold;
  font-weight: normal;
  src: url("../fonts/ClanPro-Bold.otf") format("opentype"), url("../fonts/ClanWebPro-Bold.woff") format("woff");
}
@font-face {
  font-family: ClanPro-News;
  font-weight: normal;
  src: url("../fonts/ClanPro-News.otf") format("opentype"), url("../fonts/ClanWebPro-News.woff") format("woff");
}
@font-face {
  font-family: ClanPro-News-Italic;
  font-weight: normal;
  src: url("../fonts/ClanPro-NewsItalic.otf") format("opentype"), url("../fonts/ClanWebPro-NewsItalic.woff") format("woff");
}
@font-face {
  font-family: ClanPro-Medium;
  font-weight: normal;
  src: url("../fonts/ClanPro-Medium.otf") format("opentype"), url("../fonts/ClanWebPro-Medium.woff") format("woff");
}
@font-face {
  font-family: ClanPro-MediumItalic;
  font-weight: normal;
  src: url("../fonts/ClanPro-MediumItalic.otf") format("opentype"), url("../fonts/ClanWebPro-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: Metral-Medium;
  font-weight: normal;
  src: url("../fonts/Metral-Medium.otf") format("opentype");
}
@font-face {
  font-family: 'icon';
  src: url("../fonts/icon.eot?17097586");
  src: url("../fonts/icon.eot?17097586#iefix") format("embedded-opentype"), url("../fonts/icon.woff?17097586") format("woff"), url("../fonts/icon.ttf?17097586") format("truetype"), url("../fonts/icon.svg?17097586#icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 72, ../sass/_base.scss */
.btn, .views-slideshow-cycle-main-frame-row-item .views-field.views-field-field-link .button, #block-views-block-accelerating-photonic-innovation-block-1 .views-row .market-block-wrap .button, #block-views-block-promotions-block-3 .views-row .button {
  background: #fff;
  margin-bottom: 0;
  border: 1px solid #ddd;
  padding: 8px 4px 8px 10px;
  display: inline-block;
  font-family: ClanPro-Book, Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: #6f6f6f;
  line-height: normal;
}
/* line 84, ../sass/_base.scss */
.btn:hover, .views-slideshow-cycle-main-frame-row-item .views-field.views-field-field-link .button:hover, #block-views-block-accelerating-photonic-innovation-block-1 .views-row .market-block-wrap .button:hover, #block-views-block-promotions-block-3 .views-row .button:hover {
  text-decoration: none;
  color: #FFF;
  border: 1px solid #FFF !important;
  background: #cd1c81;
  background: linear-gradient(45deg, #cd1c81 0%, #de3f57 32%, #faa53a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd1c81',endColorstr='#faa53a',GradientType=1);
}

/*=============================== Mega Menu Css ===============================*/
/* line 6, ../sass/_menu.scss */
.top-bar {
  max-width: 250px;
  position: fixed;
  top: 0;
  padding: 35px 0 0;
  border-right: 1px solid #e1e1e1;
  height: 100%;
}
/* line 7, ../sass/_menu.scss */
.top-bar .logo {
  padding: 0 40px 0 15px;
}

/* line 10, ../sass/_menu.scss */
#block-mainnavigation {
  position: fixed;
  width: 250px;
  left: 0;
  top: 220px;
  z-index: 10;
  background: #fff;
  border-right: 1px solid #e1e1e1;
  height: 100%;
}
/* line 11, ../sass/_menu.scss */
#block-mainnavigation .navbar {
  margin-bottom: 0;
}
/* line 12, ../sass/_menu.scss */
#block-mainnavigation ul {
  display: block;
}
/* line 13, ../sass/_menu.scss */
#block-mainnavigation ul li {
  padding: 15px !important;
  border-top: 1px solid #e1e1e1 !important;
  color: #333;
  width: 100%;
  background: #fff !important;
}
/* line 14, ../sass/_menu.scss */
#block-mainnavigation ul li a {
  background: #fff !important;
  font-size: 16px !important;
  color: #323133 !important;
  font-weight: 400 !important;
  padding: 0 !important;
  font-family: 'ClanPro-Book', Helvetica, sans-serif !important;
}
/* line 17, ../sass/_menu.scss */
#block-mainnavigation ul li.dropdown-menu:after {
  content: '\e809';
  float: right;
  font-size: 20px;
  font-family: "icon";
  line-height: 1;
}
/* line 19, ../sass/_menu.scss */
#block-mainnavigation ul li:last-child {
  border-bottom: 1px solid #e1e1e1;
}
/* line 22, ../sass/_menu.scss */
#block-mainnavigation .we-mega-menu-submenu {
  position: fixed;
  left: 250px;
  height: 100%;
  top: 0;
  min-width: 0;
  background: #e9e9e9;
  margin: 0;
  padding: 0;
  z-index: 99;
}
/* line 24, ../sass/_menu.scss */
#block-mainnavigation .we-mega-menu-submenu ul li {
  background: none !important;
  border: none !important;
}
/* line 25, ../sass/_menu.scss */
#block-mainnavigation .we-mega-menu-submenu ul li a {
  color: #1960ae !important;
  background: none !important;
}
/* line 26, ../sass/_menu.scss */
#block-mainnavigation .we-mega-menu-submenu ul li a:hover {
  text-decoration: underline;
}

/* line 32, ../sass/_menu.scss */
.OneLinkImplementation {
  position: absolute;
  top: 24px;
  right: 10px;
  display: block;
  z-index: 20;
}

/* line 35, ../sass/_menu.scss */
#globe-wrapper ul {
  display: none;
  position: absolute;
  right: 3px;
  width: 153px;
  margin-top: 0px;
  top: 45px;
}
/* line 36, ../sass/_menu.scss */
#globe-wrapper ul li {
  list-style: none;
  text-transform: uppercase;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
  font-size: 12px;
  border-left: 4px solid #fff;
  background: #fff;
}
/* line 37, ../sass/_menu.scss */
#globe-wrapper ul li a {
  padding: 5px 45px 10px 5px;
  color: #323133;
}
/* line 38, ../sass/_menu.scss */
#globe-wrapper ul li a:hover {
  color: #1960AE;
  text-decoration: none;
}
/* line 40, ../sass/_menu.scss */
#globe-wrapper ul li:hover {
  background: #e9e9e9;
  border-left: 4px solid #EF4136;
}
/* line 43, ../sass/_menu.scss */
#globe-wrapper #globe {
  background: url(../images/icon_white.png) no-repeat;
  cursor: pointer;
  width: 30px;
  height: 70px;
  display: block;
  font-size: 0px;
  background-size: 27px 27px;
}
/* line 45, ../sass/_menu.scss */
#globe-wrapper #globe:hover ul {
  display: block;
}

/* line 50, ../sass/_menu.scss */
#block-contactus {
  position: absolute;
  top: 20px;
  z-index: 999;
  right: 185px;
}
/* line 51, ../sass/_menu.scss */
#block-contactus li {
  height: 34px;
  border: none;
  box-shadow: none;
  font-size: 12px;
  line-height: normal;
  color: #666666;
  border-radius: 20px;
  background: #fff;
}
/* line 52, ../sass/_menu.scss */
#block-contactus li a {
  text-transform: uppercase;
  color: #666666;
}
/* line 53, ../sass/_menu.scss */
#block-contactus li a:hover {
  background: none;
  text-decoration: underline;
}

/* line 59, ../sass/_menu.scss */
.we-mega-menu-ul .we-mega-menu-li.dropdown-menu .we-mega-menu-submenu {
  display: none;
}

/* line 60, ../sass/_menu.scss */
.we-mega-menu-ul .dropdown-menu:hover > .we-mega-menu-submenu, .we-mega-menu-ul .dropdown-menu:focus > .we-mega-menu-submenu {
  display: block;
}

/*=============================== Banner Css ===============================*/
/* line 6, ../sass/_banner.scss */
.region-banner {
  position: relative;
}

/* line 9, ../sass/_banner.scss */
.views-slideshow-cycle-main-frame-row-item .views-field.views-field-body .field-content {
  position: absolute;
  max-width: 54%;
  padding: 0 40px;
  bottom: 20%;
}
/* line 10, ../sass/_banner.scss */
.views-slideshow-cycle-main-frame-row-item .views-field.views-field-body p {
  font-size: 26px;
  color: #fff;
  line-height: 34px;
  font-weight: 700;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: textZoom 2s;
  animation: textZoom 2s;
  animation-fill-mode: forwards;
}
/* line 22, ../sass/_banner.scss */
.views-slideshow-cycle-main-frame-row-item .views-field.views-field-field-link .field-content {
  position: absolute;
  padding: 0 40px;
  bottom: 12%;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: textZoom 2s;
  animation: textZoom 2s;
  animation-fill-mode: none;
  animation-fill-mode: forwards;
}
/* line 34, ../sass/_banner.scss */
.views-slideshow-cycle-main-frame-row-item .views-field.views-field-field-link .button:after {
  content: '\e809';
  margin-left: 8px;
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
/* line 38, ../sass/_banner.scss */
.views-slideshow-cycle-main-frame-row-item .views-field-field-banner-image img {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: slideZoom 0.5s;
  animation: slideZoom 0.5s;
  animation-fill-mode: none;
  animation-fill-mode: forwards;
  background: rgba(0, 0, 0, 0.6);
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: auto;
  width: 100%;
}

/* line 55, ../sass/_banner.scss */
.views-slideshow-controls-bottom {
  position: absolute;
  top: 0;
  z-index: 13;
  right: 0;
  height: 100%;
  text-align: center;
  padding: 12px;
}
/* line 63, ../sass/_banner.scss */
.views-slideshow-controls-bottom .views-slideshow-pager-bullets {
  position: relative;
  top: 50%;
  margin-top: -70px;
}
/* line 64, ../sass/_banner.scss */
.views-slideshow-controls-bottom li {
  display: block !important;
  color: #fff !important;
  background: none !important;
  width: 10px;
  height: 10px;
  margin: 8px 0 !important;
  border-radius: 100px !important;
  border: 1px solid #fff;
  padding: 0 !important;
}
/* line 73, ../sass/_banner.scss */
.views-slideshow-controls-bottom li.active {
  background: #fff !important;
}

@-webkit-keyframes textZoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes textZoom {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/**********************inner Banner****************************/
/* line 90, ../sass/_banner.scss */
#block-views-block-top-banner-block-1 {
  position: relative;
  margin: 0 0 49px 0;
}
/* line 91, ../sass/_banner.scss */
#block-views-block-top-banner-block-1 .views-field-title {
  width: 100%;
  max-width: 1160px;
  top: 52%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
}
/* line 92, ../sass/_banner.scss */
#block-views-block-top-banner-block-1 .views-field-title .field-content {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  display: block;
}

/* line 97, ../sass/_banner.scss */
.inner-banner-wrap {
  position: relative;
}
/* line 98, ../sass/_banner.scss */
.inner-banner-wrap .banner-title {
  width: 100%;
  max-width: 1160px;
  top: 52%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
}
/* line 99, ../sass/_banner.scss */
.inner-banner-wrap .banner-title .field-content {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  display: block;
}

/* line 5, ../sass/_media-room.scss */
#block-lumentum-content {
  padding: 0px;
  max-width: 773px;
  margin: 0 auto;
}
/* line 62, ../sass/_base.scss */
#block-lumentum-content:before, #block-lumentum-content:after {
  content: "";
  display: table;
}
/* line 67, ../sass/_base.scss */
#block-lumentum-content:after {
  clear: both;
}
/* line 6, ../sass/_media-room.scss */
#block-lumentum-content h2 {
  color: #323133;
  font-size: 24px;
  margin: 3px 0 9px;
}
/* line 7, ../sass/_media-room.scss */
#block-lumentum-content p {
  font-size: 16px;
  color: #666667;
  line-height: 26px;
}
/* line 8, ../sass/_media-room.scss */
#block-lumentum-content .views-row {
  border-bottom: 1px dotted #d1d1d1;
  display: inline-block;
  width: 100%;
  padding: 25px 0;
  vertical-align: top;
}
/* line 9, ../sass/_media-room.scss */
#block-lumentum-content .views-row .views-field-title {
  font-size: 16px;
}
/* line 10, ../sass/_media-room.scss */
#block-lumentum-content .views-row .views-field-field-date {
  font-size: 12px;
  font-family: 'ClanPro-Medium',sans-serif;
  color: #666667;
}

/* line 15, ../sass/_media-room.scss */
#block-views-block-videos-block-2 .views-row {
  width: 50%;
  float: left;
  padding: 0 15px;
}
/* line 16, ../sass/_media-room.scss */
#block-views-block-videos-block-2 .views-row .views-field-field-brightcove-video {
  min-width: 100% !important;
  display: inline-block !important;
  max-width: 100% !important;
  margin: 15px 0 0 0;
}
/* line 17, ../sass/_media-room.scss */
#block-views-block-videos-block-2 .views-row .video-js {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  padding-top: 56.5% !important;
  position: relative !important;
}
/* line 18, ../sass/_media-room.scss */
#block-views-block-videos-block-2 .views-row .views-field-title {
  margin: 15px 0 0 0;
}
/* line 19, ../sass/_media-room.scss */
#block-views-block-videos-block-2 .views-row .views-field-title a {
  font-family: 'ClanPro-Medium',sans-serif;
  color: #1960ae;
  font-size: 16px;
  line-height: 26px;
}
/* line 21, ../sass/_media-room.scss */
#block-views-block-videos-block-2 .views-row .views-field-body {
  margin: 15px 0 0 0;
}
/* line 22, ../sass/_media-room.scss */
#block-views-block-videos-block-2 .views-row .views-field-body p {
  font-size: 16px;
  color: #666667;
  line-height: 26px;
  margin-bottom: 1.25rem;
}

/* line 27, ../sass/_media-room.scss */
#block-views-block-news-block-3 {
  width: 63%;
  float: left;
  padding: 0 15px;
  border-right: 1px solid #e1e1e1;
}
/* line 28, ../sass/_media-room.scss */
#block-views-block-news-block-3 h2 {
  font-size: 22px;
  margin: 0;
  color: #323133;
}
/* line 29, ../sass/_media-room.scss */
#block-views-block-news-block-3 h2:after {
  content: '\e809';
  margin-left: 8px;
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
}
/* line 31, ../sass/_media-room.scss */
#block-views-block-news-block-3 ul {
  list-style: none;
}
/* line 32, ../sass/_media-room.scss */
#block-views-block-news-block-3 ul li {
  padding: 25px 0 0 0;
}
/* line 34, ../sass/_media-room.scss */
#block-views-block-news-block-3 .views-field-title {
  font-size: 16px;
}
/* line 35, ../sass/_media-room.scss */
#block-views-block-news-block-3 .views-field-field-date {
  font-size: 12px;
  font-family: 'ClanPro-Medium',sans-serif;
  color: #666667;
}
/* line 36, ../sass/_media-room.scss */
#block-views-block-news-block-3 p {
  font-size: 16px;
  color: #666667;
  line-height: 26px;
  margin-bottom: 1.25rem;
}

/* line 39, ../sass/_media-room.scss */
#block-contactusmediaroom {
  width: 37%;
  float: left;
  text-align: center;
  padding: 0 15px;
}
/* line 40, ../sass/_media-room.scss */
#block-contactusmediaroom a {
  font-size: 24px;
  padding: 35px 38px 32px;
  color: #1960ae;
  text-transform: capitalize;
  display: inline-block;
  max-width: 253px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #dfdfdf;
}
/* line 42, ../sass/_media-room.scss */
#block-contactusmediaroom a:hover {
  text-decoration: none;
  color: #FFF;
  border: 1px solid #FFF !important;
  background: #cd1c81;
  background: linear-gradient(45deg, #cd1c81 0%, #de3f57 32%, #faa53a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd1c81',endColorstr='#faa53a',GradientType=1);
}

/* line 53, ../sass/_media-room.scss */
#block-lumentum-page-title {
  max-width: 773px;
  margin: 0 auto;
}
/* line 54, ../sass/_media-room.scss */
#block-lumentum-page-title h1 {
  font-size: 24px;
  font-weight: normal;
  color: #323133;
}

/**************event section**************/
/* line 59, ../sass/_media-room.scss */
.events-wrap-box .views-field-field-event-date-range {
  font-size: 12px;
  font-family: 'ClanPro-Medium',sans-serif;
  color: #666667;
}
/* line 60, ../sass/_media-room.scss */
.events-wrap-box .views-field-field-legacy-url {
  font-size: 16px;
}
/* line 61, ../sass/_media-room.scss */
.events-wrap-box .views-field-field-location-address-line1 {
  text-transform: uppercase;
  color: #666667;
  font-style: italic;
  font-family: 'ClanPro-Medium',sans-serif;
  font-size: 12px;
  margin-right: .5em;
}

/*=============================== Global Css ===============================*/
/* line 11, ../sass/main.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 12, ../sass/main.scss */
body {
  font-family: 'ClanPro-Book', Helvetica, sans-serif;
  font-size: 18px;
  color: #222;
  line-height: 1.5;
}

/* line 19, ../sass/main.scss */
h1, h2, h3, h4 {
  font-family: 'ClanPro-Book', Helvetica, sans-serif;
  line-height: 1.4;
}

/* line 24, ../sass/main.scss */
a {
  color: #1960ae;
}

/* line 28, ../sass/main.scss */
.main-wrap {
  margin-left: 250px;
  overflow: hidden;
}

/* line 29, ../sass/main.scss */
main {
  background: #f9f9f9;
  position: relative;
}

/* line 34, ../sass/main.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 50, ../sass/main.scss */
a[href*="//"]:not([href*="lumentum.com"]):after {
  padding-left: 10px;
  content: "\e80a";
  display: inline;
  font-family: icon;
  font-size: 0.8em;
  text-decoration: none;
}

/* line 59, ../sass/main.scss */
#block-lumentum-breadcrumbs {
  position: absolute;
  top: 26px;
  left: 9px;
}
/* line 60, ../sass/main.scss */
#block-lumentum-breadcrumbs ul {
  background: none;
  padding: 0;
  margin: 0 0 0 10px;
}
/* line 61, ../sass/main.scss */
#block-lumentum-breadcrumbs ul li {
  display: inline-block;
}
/* line 62, ../sass/main.scss */
#block-lumentum-breadcrumbs ul li a {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}
/* line 63, ../sass/main.scss */
#block-lumentum-breadcrumbs ul li a:hover {
  text-decoration: none;
}
/* line 65, ../sass/main.scss */
#block-lumentum-breadcrumbs ul li:before {
  content: '/';
  font-size: 12px;
  padding: 0 5px;
}
/* line 67, ../sass/main.scss */
#block-lumentum-breadcrumbs ul li:first-child:before {
  content: '';
}

/*=============================== Home Top CTA Css ===============================*/
/* line 74, ../sass/main.scss */
#block-views-block-accelerating-photonic-innovation-block-1 {
  max-width: 1160px;
  margin: 0 auto;
}
/* line 62, ../sass/_base.scss */
#block-views-block-accelerating-photonic-innovation-block-1:before, #block-views-block-accelerating-photonic-innovation-block-1:after {
  content: "";
  display: table;
}
/* line 67, ../sass/_base.scss */
#block-views-block-accelerating-photonic-innovation-block-1:after {
  clear: both;
}
/* line 75, ../sass/main.scss */
#block-views-block-accelerating-photonic-innovation-block-1 h2 {
  font-size: 28px;
  font-style: italic;
  line-height: 38px;
  text-align: center;
  margin-bottom: 0;
  color: #666667;
  text-transform: uppercase;
}
/* line 84, ../sass/main.scss */
#block-views-block-accelerating-photonic-innovation-block-1 .views-row {
  float: left;
  padding: 30px 15px;
  width: 33.33333%;
  text-align: center;
  position: relative;
}
/* line 91, ../sass/main.scss */
#block-views-block-accelerating-photonic-innovation-block-1 .views-row .market-block-wrap h2 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 4px;
  font-style: normal;
}
/* line 92, ../sass/main.scss */
#block-views-block-accelerating-photonic-innovation-block-1 .views-row .market-block-wrap .text {
  color: #fff;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 36%;
  left: 50%;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  width: 90%;
  text-align: center;
  z-index: 9;
}
/* line 94, ../sass/main.scss */
#block-views-block-accelerating-photonic-innovation-block-1 .views-row .market-block-wrap p {
  font-size: 12px;
  color: #323133;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transition: all 0.75s cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 6px;
}
/* line 95, ../sass/main.scss */
#block-views-block-accelerating-photonic-innovation-block-1 .views-row .market-block-wrap .summary {
  padding-top: 40px;
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  width: 100% !important;
  height: 0;
  transition: .5s ease;
  padding: 0;
  z-index: 999;
}
/* line 97, ../sass/main.scss */
#block-views-block-accelerating-photonic-innovation-block-1 .views-row .market-block-wrap .market-text-mobile {
  display: none;
}
/* line 98, ../sass/main.scss */
#block-views-block-accelerating-photonic-innovation-block-1 .views-row .market-block-wrap .button {
  background: none;
  border: 1px solid #6f6f6f;
}
/* line 99, ../sass/main.scss */
#block-views-block-accelerating-photonic-innovation-block-1 .views-row .market-block-wrap .button:after {
  content: '\e809';
  margin-left: 8px;
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
/* line 103, ../sass/main.scss */
#block-views-block-accelerating-photonic-innovation-block-1 .views-row .market-block-wrap:hover .text {
  z-index: 9999;
}
/* line 104, ../sass/main.scss */
#block-views-block-accelerating-photonic-innovation-block-1 .views-row .market-block-wrap:hover p {
  opacity: 1;
}
/* line 105, ../sass/main.scss */
#block-views-block-accelerating-photonic-innovation-block-1 .views-row .market-block-wrap:hover h2 {
  color: #000;
}
/* line 106, ../sass/main.scss */
#block-views-block-accelerating-photonic-innovation-block-1 .views-row .market-block-wrap:hover .summary {
  height: 70%;
}

/* line 112, ../sass/main.scss */
.news-main-wrap {
  background: #fff;
  padding: 60px 0;
  margin-top: 30px;
}
/* line 113, ../sass/main.scss */
.news-main-wrap .region-after-content {
  max-width: 1160px;
  margin: 0 auto;
}
/* line 62, ../sass/_base.scss */
.news-main-wrap .region-after-content:before, .news-main-wrap .region-after-content:after {
  content: "";
  display: table;
}
/* line 67, ../sass/_base.scss */
.news-main-wrap .region-after-content:after {
  clear: both;
}
/* line 114, ../sass/main.scss */
.news-main-wrap .block {
  width: 33.33333%;
  float: left;
  padding: 0 15px;
  position: relative;
  border-left: 1px solid #d1d1d1;
  min-height: 270px;
}
/* line 115, ../sass/main.scss */
.news-main-wrap .block:first-child {
  border: none;
}
/* line 116, ../sass/main.scss */
.news-main-wrap .block .views-field-title {
  font-size: 16px;
}
/* line 117, ../sass/main.scss */
.news-main-wrap .block h2 {
  font-size: 24px;
  margin: 0;
}
/* line 118, ../sass/main.scss */
.news-main-wrap .block h2:after {
  content: '\e809';
  margin-left: 8px;
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
}
/* line 120, ../sass/main.scss */
.news-main-wrap .block .views-row {
  margin-bottom: 25px;
  border-bottom: 1px dotted #d1d1d1;
  display: inline-block;
  width: 100%;
  padding: 25px 0;
}
/* line 121, ../sass/main.scss */
.news-main-wrap .block .views-row:last-child {
  border: none;
}
/* line 123, ../sass/main.scss */
.news-main-wrap .block .views-field-field-date {
  font-size: 12px;
  font-family: 'ClanPro-Medium',sans-serif;
  color: #666667;
  text-transform: uppercase;
}
/* line 124, ../sass/main.scss */
.news-main-wrap .block .views-field-views-conditional-field {
  font-size: 12px;
  font-family: 'ClanPro-Medium',sans-serif;
  color: #666667;
  text-transform: uppercase;
}
/* line 125, ../sass/main.scss */
.news-main-wrap .block .views-field-field-location-country-code {
  text-transform: uppercase;
  font-style: italic;
  font-family: "ClanPro-Medium",Helvetica,sans-serif;
  float: left;
  font-size: 12px;
  margin-right: .5em;
  color: #666667;
}

/* line 130, ../sass/main.scss */
.region-before-footer {
  max-width: 1160px;
  margin: 0 auto;
  padding: 50px 0 25px;
}
/* line 62, ../sass/_base.scss */
.region-before-footer:before, .region-before-footer:after {
  content: "";
  display: table;
}
/* line 67, ../sass/_base.scss */
.region-before-footer:after {
  clear: both;
}

/* line 132, ../sass/main.scss */
#block-views-block-promotions-block-3 .views-row {
  width: 50%;
  float: left;
  padding: 0 15px;
  margin-bottom: 40px;
}
/* line 133, ../sass/main.scss */
#block-views-block-promotions-block-3 .views-row img {
  margin: 0 0 9px 0;
  width: 100%;
}
/* line 134, ../sass/main.scss */
#block-views-block-promotions-block-3 .views-row .views-field-title {
  font-size: 22px;
  line-height: 30px;
  color: #666667;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}
/* line 135, ../sass/main.scss */
#block-views-block-promotions-block-3 .views-row p {
  font-size: 16px;
  color: #6f6f6f;
  line-height: 26px;
}
/* line 137, ../sass/main.scss */
#block-views-block-promotions-block-3 .views-row .button:after {
  content: '\e809';
  margin-left: 8px;
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

/*=============================== Footer Css ===============================*/
/* line 144, ../sass/main.scss */
.footer {
  width: 100%;
  background: #323133;
  padding: 51px 0 46px 0;
  display: inline-block;
  vertical-align: top;
}

/* line 145, ../sass/main.scss */
#block-lumentum-footer {
  max-width: 1160px;
  margin: 0 auto;
}
/* line 62, ../sass/_base.scss */
#block-lumentum-footer:before, #block-lumentum-footer:after {
  content: "";
  display: table;
}
/* line 67, ../sass/_base.scss */
#block-lumentum-footer:after {
  clear: both;
}
/* line 146, ../sass/main.scss */
#block-lumentum-footer section {
  padding: 0 15px;
  width: 13.90%;
  float: left;
}
/* line 147, ../sass/main.scss */
#block-lumentum-footer section h3 {
  margin-bottom: 6px;
  font-size: 16px;
  margin-top: 6px;
}
/* line 148, ../sass/main.scss */
#block-lumentum-footer section h3 a {
  pointer-events: none;
  cursor: default;
  color: #fff;
}
/* line 150, ../sass/main.scss */
#block-lumentum-footer section li {
  list-style: none;
  margin: 10px 0;
  line-height: 1em;
}
/* line 151, ../sass/main.scss */
#block-lumentum-footer section li a {
  color: #aaa;
  font-size: 14px;
}

/* line 156, ../sass/main.scss */
.footer_bottom {
  max-width: 1160px;
  margin: 22px auto 108px;
}
/* line 62, ../sass/_base.scss */
.footer_bottom:before, .footer_bottom:after {
  content: "";
  display: table;
}
/* line 67, ../sass/_base.scss */
.footer_bottom:after {
  clear: both;
}
/* line 157, ../sass/main.scss */
.footer_bottom #block-2levelfooter {
  height: 0;
  margin-top: 12px;
  position: relative;
  left: 275px;
  float: left;
}
/* line 158, ../sass/main.scss */
.footer_bottom #block-2levelfooter li {
  float: left;
  border-right: 1px solid #d2d2d2;
  padding: 0 15px;
  border-bottom: none;
  margin: 0;
}
/* line 159, ../sass/main.scss */
.footer_bottom #block-2levelfooter li a {
  color: #000;
  font-size: 14px;
  padding: 0;
}
/* line 160, ../sass/main.scss */
.footer_bottom #block-2levelfooter li a:hover {
  background: none;
}
/* line 165, ../sass/main.scss */
.footer_bottom #block-socialmenu ul {
  list-style: none;
  margin: 0;
}
/* line 166, ../sass/main.scss */
.footer_bottom #block-socialmenu ul li {
  list-style: none;
  background: #323133;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 10px;
  float: right;
  line-height: 50px;
}
/* line 168, ../sass/main.scss */
.footer_bottom #block-socialmenu ul li a i {
  color: #FFF;
  font-size: 24px;
}
/* line 169, ../sass/main.scss */
.footer_bottom #block-socialmenu ul li a:hover {
  text-decoration: none;
}
/* line 173, ../sass/main.scss */
.footer_bottom #block-socialmenu .icon-twitter:before {
  content: '\e801';
}
/* line 174, ../sass/main.scss */
.footer_bottom #block-socialmenu .icon-linkedin:before {
  content: '\e802';
}
/* line 175, ../sass/main.scss */
.footer_bottom #block-socialmenu .icon-youtube:before {
  content: '\e803';
}
/* line 176, ../sass/main.scss */
.footer_bottom #block-socialmenu .icon-rss-icon-1:before {
  content: '\e80b';
}
/* line 179, ../sass/main.scss */
.footer_bottom .copyright {
  position: relative;
  left: -265px;
  font-size: 14px;
  margin: 13px 0 0 0;
  float: left;
}
